#root {
  --color-background: #f1f5f9;
  --color-border: #e2e8f0;
  --color-white: #fff;
  --color-btn: #7c3aed;
  --color-text: #020617;
  --color-violet-50: #f5f3ff;
  --color-gray-50: #f9fafb;
  --color-green-50: #f0fdf4;
  --color-green-800: #166534;
  --color-green-950: #052e16;
  --color-red-50: #fef2f2;
  --color-red-800: #7f1d1d;
  --color-red-950: #450a0a;
  --box-shadow: 0 0 20px 10px rgb(238, 238, 238);
}
html,
body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}
.app-container {
  background-color: var(--color-background);
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.question-card {
  background-color: var(--color-white);
  width: 450px;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  /* height: 400px; */
}
.question-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.question-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.content__text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.content__item {
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-size: 14px;
}
.content__item:hover {
  border: 1px solid var(--color-btn);
  background-color: var(--color-violet-50);
}
.selected {
  border: 1px solid var(--color-btn);
  background-color: var(--color-violet-50);
}
.question-card__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  font-size: 14px;
  border: none;
  background-color: var(--color-btn);
  color: var(--color-white);
  padding: 0.75rem;
  border-radius: 10px;
  width: 100px;
}
.btn:hover {
  background-color: var(--color-violet-50);
  color: var(--color-text);
}
.result-popup {
  width: 600px;
  height: 400px;
}

.result-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.result-quiz h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.item__question p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.item__question {
  font-size: 18px;
  font-weight: semibold;
  margin-bottom: 0.5rem;
}
.item__answer {
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f9fafb;
  color: #052e16;
}
.item__answer span {
  font-weight: normal;
}

.correct-question {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #166534;
  background-color: #f0fdf4;
  color: #052e16;
  margin-bottom: 1rem;
}
.incorrect-question {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #7f1d1d;
  background-color: #fef2f2;
  color: #450a0a;
  margin-bottom: 1rem;
}
